/CODE/Nueva Carpeta/ATTRIBUTES/nbproject/private/
/CODE/Class3/Atributtes/nbproject/private/
/CODE/Class3/Atributtes/build/
/PRACTICE/Nueva Carpeta/CICLOS/nbproject/private/
/PRACTICE/Nueva Carpeta/CICLOS/build/
/PRACTICE/21.05.2014/SWITCH/nbproject/private/
/PRACTICE/21.05.2014/SWITCH2/nbproject/private/
/PRACTICE/21.05.2014/SWITCH2/build/