/CODE/Nueva Carpeta/ATTRIBUTES/nbproject/private/
/CODE/Class3/Atributtes/nbproject/private/
/CODE/Class3/Atributtes/build/
/PRACTICE/Nueva Carpeta/CICLOS/nbproject/private/
/PRACTICE/Nueva Carpeta/CICLOS/build/
/PRACTICE/21.05.2014/SWITCH/nbproject/private/
/PRACTICE/21.05.2014/SWITCH2/nbproject/private/
/PRACTICE/21.05.2014/SWITCH2/build/
/PRACTICE/Practica Switch/JavaApplication10/nbproject/private/
/PRACTICE/Practica Switch/JavaApplication10/build/
/PRACTICE/Practica Switch/JavaApplication10/dist/
/PRACTICE/Practica Switch/STRING/nbproject/private/
/PRACTICE/Practica Switch/STRING/build/
/PRACTICE/Practica Switch/STRING PRACTICO/nbproject/private/
/PRACTICE/Practica Switch/STRING PRACTICO/build/
/PRACTICE/Practica Switch/terminarString/nbproject/private/
/PRACTICE/Practica Switch/terminarString/build/
/PRACTICE/PracticaArreglos/nbproject/private/
/PRACTICE/PracticaArreglos/build/
/PRACTICE/MATRICES/nbproject/private/
/PRACTICE/clase11/nbproject/private/
/PRACTICE/clase11/build/
/PRACTICE/JavaApplication18/nbproject/private/
/PRACTICE/practicaMatriz/nbproject/private/
/PRACTICE/practicaMatriz/build/
/CODE/practica de matrices2/nbproject/private/
/CODE/practica de matrices2/build/
/CODE/Ordenacion Selecione/nbproject/private/
/CODE/Ordenacion Selecione/build/
/PRACTICE/Metodo_Burbuja/nbproject/private/
/PRACTICE/Metodo_Burbuja/build/
/TASK/Tarea de Ordenamiento/nbproject/private/
/PRACTICE/LISTAS/nbproject/private/
/PRACTICE/LISTAS/build/