/CODE/Nueva Carpeta/ATTRIBUTES/nbproject/private/
/CODE/Class3/Atributtes/nbproject/private/
/CODE/Class3/Atributtes/build/
/PRACTICE/Nueva Carpeta/CICLOS/nbproject/private/
/PRACTICE/Nueva Carpeta/CICLOS/build/